*{
    margin: 0;
    padding: a;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

html, body {
    height: 100%;
    margin: 0;
  }
  #bg-root {
    position: fixed;
    inset: 0;
    z-index: 0;
  }
.form-container {
   position: relative;
   z-index: 1;
   width: 300px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.form-group{
    margin-bottom: 8px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input{
    width: 250px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid #ccc;
}

.submit-btn{
    display: block;
    width: 97%;
    padding: 10px;
    background-color: rgb(3, 21, 37);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: blue;
}